@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800;900&display=swap');

$light-color: #b5eefd;
$dark-color: #003a4d;
$primary-color: #f9404f;
// $light-color: #f4f4f4;
// $dark-color: #333;
$font-stack: 'Open Sans', sans-serif;
