@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800;900&family=Unbounded:wght@900&display=swap');

$light-color: #b5eefd;
$light-color-raster: rgba(181, 238, 253, 0.2);
$dark-color: #003a4d;
$primary-color: #f9404f;
// $primary-color-raster: #f9404f;
// $light-color: #f4f4f4;
// $dark-color: #333;
$font-stack: 'Open Sans', sans-serif;
