@import 'variables';

* {
  margin: 0;
  padding: 0;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent; /* Optional: just make scrollbar invisible */
}

body {
  font-family: $font-stack;
  line-height: 1.5;
  color: $dark-color;
  background-color: $light-color;
}

// Main & utilities

.main-container {
  max-width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 2rem;
}

// Button

.btn {
  font-size: 1.1rem;
  padding: 0.4rem 1.1rem 0.6rem;
  background-color: $primary-color;
  border: none;
  transition: transform 0.2s ease-in-out;

  &-skew-left {
    transform: skew(-20deg);
    span {
      display: inline-block;
      transform: skew(20deg);
    }
    &:hover {
      background-color: $primary-color;
      transform: skew(-20deg) scale(1.05);
    }
    &:active {
      background-color: $primary-color;
      transform: skew(-20deg) scale(0.95);
    }
  }
  &-skew-right {
    transform: skew(20deg);
    span {
      display: inline-block;
      transform: skew(-20deg);
    }
    &:hover {
      background-color: $primary-color;
      transform: skew(20deg) scale(1.05);
    }

    &:active {
      background-color: $primary-color;
      transform: skew(20deg) scale(0.95);
    }
  }
}
