@import 'variables';

// Home unlogged
.hero {
  height: calc(100vh - 120px);
  display: flex;
  justify-content: space-between;

  &-img {
    width: 50%;
    object-fit: contain;
  }

  &-content {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 3rem;
    color: $dark-color;
  }

  &-title {
    font-family: 'Unbounded', sans-serif;
    line-height: 1.1;
    font-size: 4.2rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
  }

  &-text {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }

  &-buttons {
    display: flex;
    gap: 2rem;
    margin-top: 0.4rem;

    Button,
    .btn {
      font-size: 1.2rem;
      padding: 0.4rem 1.1rem 0.6rem;
      background-color: $primary-color;
      border: none;
      transition: transform 0.2s ease-in-out;

      &.skew-left {
        transform: skew(-20deg);
        span {
          display: inline-block;
          transform: skew(20deg);
        }
        &:hover {
          background-color: $primary-color;
          transform: skew(-20deg) scale(1.05);
        }
      }
      &.skew-right {
        transform: skew(20deg);
        span {
          display: inline-block;
          transform: skew(-20deg);
        }
        &:hover {
          background-color: $primary-color;
          transform: skew(20deg) scale(1.05);
        }
      }
    }
  }
}

// Home logged

.home-logged {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-featured-pets {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;

    &-title {
      display: inline-block;
      background-color: $primary-color;
      color: #fff;
      font-size: 1.8rem;
      font-weight: 600;
      padding: 0.5rem 1rem;
      margin-bottom: 2rem;
      transform: skew(-20deg);
      span {
        display: inline-block;
        transform: skew(20deg);
      }
    }

    .container {
      display: flex;

      .home-logged-featured-pets-cards {
        width: 100%;
        display: flex;
        gap: 1.29rem;

        h4 {
          white-space: pre-wrap;

          a {
            display: inline-block;
            text-decoration: none;
            color: $primary-color;
            transition: all 0.2s ease-in-out;

            // &:hover {
            //   // opacity: 0.7;
            // }
            &:active {
              transform: scale(0.9);
            }
          }
        }

        .card:nth-child(n + 5) {
          display: none;
        }
      }
    }

    .chevron {
      margin-left: 1rem;
      text-decoration: none;
      font-size: 3rem;
      font-weight: 900;
      align-self: center;
      color: $primary-color;
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

.hero-logged {
  width: 100vw;
  height: 75vh;
  margin: 0.2rem 0 5rem;
  color: $dark-color;
  transform: skewY(-1deg);
  border-top: 0.29rem solid $primary-color;

  .carousel-item {
    width: 100vw;
    height: 75vh;
    display: relative;
  }

  .carousel-item::before,
  .carousel-item::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    height: 50%;
    left: 0;
    z-index: 1;
  }

  .carousel-item::before {
    background: linear-gradient(
      to bottom,
      rgb(181, 238, 253, 0),
      rgb(181, 238, 253, 1)
    );
  }

  .carousel-caption {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    color: $dark-color;
    z-index: 99;
  }

  .secondary {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      align-self: center;
    }
  }

  &-welcome {
    margin-bottom: 2rem;
    font-family: 'Unbounded', sans-serif;
    line-height: 1.1;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
    text-align: center;
    white-space: pre-wrap;
    transform: skewY(1deg);
    text-shadow: #fff;
  }

  a {
    text-align: center;
    align-self: flex-end;

    .btn.skew-left {
      font-size: 1.1rem;
      padding: 0.4rem 1.1rem 0.6rem;
      background-color: $primary-color;
      border: none;
      transition: transform 0.2s ease-in-out;
      transform: skew(-20deg);

      &:hover {
        background-color: $primary-color;
        transform: skew(-20deg) scale(1.05);
        border: $primary-color;
      }

      &:active,
      &:focus-visible,
      &:focus {
        background-color: $primary-color;
        border: $primary-color;
      }

      span {
        display: inline-block;
        transform: skew(20deg);
      }
    }
  }

  // img {
  // }

  // .gradient {
  // width: 100vw;
  // height: 100px;
  // z-index: 999;
  // margin-bottom: 10rem;
  // transform: skewY(1.5deg);
  // border-bottom: $light-color 1rem solid;
  // margin-bottom: -1px;
  // align-items: flex-end;
  // justify-content: flex-end;
  // display: flex;

  // justify-content: flex-end;
  // align-items: center;
  // }

  // .carousel-item {
  //   display: flex;
  //   justify-content: flex-end;
  // }
  // &-skew-right {
  //   transform: skew(20deg);
  //   span {
  //     display: inline-block;
  //     transform: skew(-20deg);
  //   }
  //   &:hover {
  //     background-color: $primary-color;
  //     transform: skew(20deg) scale(1.05);
  //   }
  // }
}

.container-not-found {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .not-found {
    padding: 0;
    margin: 0;
    width: 50%;
    h1 {
      width: 100%;
      text-align: left;
      padding: 0;
      margin-bottom: 1rem;
    }
    &-text {
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 1100px) {
  .home-logged .home-logged-featured-pets-cards {
    .card:nth-child(n + 4) {
      display: none;
    }
  }
}

@media (max-width: 900px) {
  .home-logged .home-logged-featured-pets-cards {
    .card:nth-child(n + 3) {
      display: none;
    }
  }
}
