@import 'variables';

// Home unlogged
.hero {
  height: calc(100vh - 120px);
  display: flex;
  justify-content: space-between;

  &-img {
    width: 50%;
    object-fit: contain;
  }

  &-content {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 3rem;
    color: $dark-color;
  }

  &-title {
    font-family: 'Unbounded', sans-serif;
    line-height: 1.1;
    font-size: 4.2rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
  }

  &-text {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }

  &-buttons {
    display: flex;
    gap: 2rem;
    margin-top: 0.4rem;

    button {
      font-size: 1.2rem;
      padding: 0.4rem 1.1rem 0.6rem;
      background-color: $primary-color;
      border: none;
      transition: transform 0.2s ease-in-out;

      &.skew-left {
        transform: skew(-20deg);
        span {
          display: inline-block;
          transform: skew(20deg);
        }
        &:hover {
          background-color: $primary-color;
          transform: skew(-20deg) scale(1.05);
        }
      }
      &.skew-right {
        transform: skew(20deg);
        span {
          display: inline-block;
          transform: skew(-20deg);
        }
        &:hover {
          background-color: $primary-color;
          transform: skew(20deg) scale(1.05);
        }
      }
    }
  }
}

// Home logged

.home-logged {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &-welcome {
    margin: 3rem 0 4rem;
    font-family: 'Unbounded', sans-serif;
    line-height: 1.1;
    font-size: 3.6rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
    text-align: center;
    white-space: pre-wrap;
  }
  &-featured-pets {
    width: 100%;
    display: flex;
    flex-direction: column;

    h4 {
      font-size: 1.8rem;
      font-weight: 600;
      padding-left: 0.5rem;
      margin-bottom: 2rem;
    }

    &-cards {
      width: 100%;
      display: flex;

      .chevron {
        text-decoration: none;
        font-size: 3rem;
        font-weight: 900;
        align-self: center;
        color: $primary-color;
      }
    }
  }
}
