@import 'variables';

// Home unlogged
.hero {
  height: calc(100vh - 120px);
  display: flex;
  justify-content: space-between;

  &-img {
    width: 50%;
    object-fit: contain;
  }

  &-content {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 3rem;
    color: $dark-color;
  }

  &-title {
    font-family: 'Unbounded', sans-serif;
    line-height: 1.1;
    font-size: 4.2rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
  }

  &-text {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }

  &-buttons {
    display: flex;
    gap: 2rem;
    margin-top: 0.4rem;

    Button,
    .btn {
      font-size: 1.2rem;
      padding: 0.4rem 1.1rem 0.6rem;
      background-color: $primary-color;
      border: none;
      transition: transform 0.2s ease-in-out;

      &.skew-left {
        transform: skew(-20deg);
        span {
          display: inline-block;
          transform: skew(20deg);
        }
        &:hover,
        &:focus,
        &:focus-visible {
          background-color: $primary-color;
          transform: skew(-20deg) scale(1.05);
        }
        &:active {
          background-color: $primary-color;
          transform: skew(-20deg) scale(0.95);
        }
      }
      &.skew-right {
        transform: skew(20deg);
        span {
          display: inline-block;
          transform: skew(-20deg);
        }
        &:hover,
        &:active,
        &:focus,
        &:focus-visible {
          background-color: $primary-color;
          transform: skew(20deg) scale(1.05);
        }
        &:active {
          background-color: $primary-color;
          transform: skew(-20deg) scale(0.95);
        }
      }
    }
  }
}

// Home logged

.home-logged {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-featured-pets {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;

    &-title {
      display: inline-block;
      background-color: $primary-color;
      color: #fff;
      font-size: 1.8rem;
      font-weight: 600;
      padding: 0.5rem 1rem;
      margin-bottom: 2rem;
      transform: skew(-20deg);
      span {
        display: inline-block;
        transform: skew(20deg);
      }
    }

    .container {
      display: flex;

      .home-logged-featured-pets-cards {
        width: 100%;
        display: flex;
        gap: 1.29rem;

        h4 {
          white-space: pre-wrap;

          a {
            display: inline-block;
            text-decoration: none;
            color: $primary-color;
            transition: all 0.2s ease-in-out;

            // &:hover {
            //   // opacity: 0.7;
            // }
            &:active {
              transform: scale(0.9);
            }
          }
        }

        .card:nth-child(n + 5) {
          display: none;
        }
      }
    }

    .chevron {
      margin-left: 1rem;
      text-decoration: none;
      font-size: 3rem;
      font-weight: 900;
      align-self: center;
      color: $primary-color;
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

.hero-logged {
  width: 100vw;
  height: 70vh;
  margin: 0.2rem 0 5rem;
  color: $dark-color;
  transform: skewY(-1deg);
  border-top: 0.29rem solid $primary-color;

  .carousel-item {
    width: 100vw;
    height: 70vh;
    display: relative;
  }

  .carousel-item.secondary {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .carousel-item::before,
  .carousel-item::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    height: 40%;
    left: 0;
    z-index: 1;
  }

  .carousel-item::before {
    background: linear-gradient(
      to bottom,
      rgb(181, 238, 253, 0),
      rgb(181, 238, 253, 1)
    );
  }

  img {
    position: relative;
    object-fit: cover;
    top: -30%;
    height: 100vh;
  }

  img.secondary {
    height: 100vh;
    top: -30%;
  }

  .carousel-caption {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    color: $dark-color;
    z-index: 99;

    .caption-box {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      a {
        align-self: start;
      }
    }
  }

  .carousel-caption.secondary {
    display: flex;
    align-items: flex-end;
    // justify-content: flex-end;
    justify-content: center;
    min-height: 200px;

    .caption-box {
      // flex: 1;
      width: 20vw;
      // width: min(30%, 400px);
      display: flex;
      align-items: flex-start;
      background-color: rgba(249, 64, 79, 0.8);
      padding: 1rem 1.5rem;
      margin-bottom: 1rem;
      color: #fff;
      border-radius: 0.375rem;

      h1 {
        // overflow-wrap: break-word;
        align-self: flex-start;
        font-size: 2rem;
        margin: 0 0 1rem 0;
        text-shadow: none;
      }

      // .hero-logged-welcome-text {
      //   // width: 40%;
      // }

      .hero-button {
        margin-top: 1.4rem;
        background-color: transparent;
        border: #fff 0.1rem solid;
        color: #fff;
        transition: all 0.2s ease-in-out;

        &:hover,
        &:active,
        &:focus,
        &:focus-visible {
          background-color: #fff;
          color: $primary-color;
          transform: scale(1.1);
          box-shadow: 0 0 0 0.2rem rgba(249, 64, 79, 0.45);
        }
        &:active {
          transform: scale(0.95);
        }
      }
    }
    // .caption-box.left {
    // justify-self: flex-start;
    // align-self: flex-start;
    // }
  }

  .carousel-caption.left {
    // align-items: flex-start;
    justify-content: center;
  }

  &-welcome {
    margin: 0 -3rem 1rem 3rem;
    font-family: 'Unbounded', sans-serif;
    line-height: 1.1;
    font-size: 3.6rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
    text-align: left;
    white-space: pre-wrap;
    transform: skewY(1deg);

    .main {
      filter: drop-shadow(0 0 2rem #fff);
    }

    &-text {
      font-size: 1.2rem;
      line-height: 1.29;
      white-space: pre-wrap;
      text-align: left;
    }
  }

  a {
    .btn.skew-left {
      font-size: 1.1rem;
      padding: 0.4rem 1.1rem 0.6rem;
      background-color: $primary-color;
      border: none;
      transition: transform 0.2s ease-in-out;
      transform: skew(-20deg);

      &:hover {
        background-color: $primary-color;
        transform: skew(-20deg) scale(1.05);
        border: $primary-color;
      }

      &:active,
      &:focus-visible,
      &:focus {
        background-color: $primary-color;
        border: $primary-color;
      }

      span {
        display: inline-block;
        transform: skew(20deg);
      }
    }
  }
}

.container-not-found {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .not-found {
    padding: 0;
    margin: 0;
    width: 50%;
    h1 {
      width: 100%;
      text-align: left;
      padding: 0;
      margin-bottom: 1rem;
    }
    &-text {
      font-size: 1.2rem;
    }
  }
}

// @media (max-width: )

@media (max-width: 1100px) {
  .hero {
    .hero-content {
      .hero-title {
        font-size: 4rem;
      }
      button {
        font-size: 1rem;
      }
    }
  }
  .home-logged {
    .home-logged-featured-pets-cards {
      .card:nth-child(n + 4) {
        display: none;
      }
    }
  }
  .hero-logged {
    .carousel-item::before,
    .carousel-item::after {
      height: 40%;
    }
    img {
      height: 100vh;
      top: -20%;
    }
    img.secondary {
      height: 100vh;
      top: -40%;
    }
  }
}

@media (max-width: 900px) {
  .hero {
    .hero-content {
      .hero-title {
        font-size: 3rem;
      }
      .hero-text {
        font-size: 1.2rem;
      }
      button {
        font-size: 0.8rem;
      }
    }
  }
  .hero-logged {
    .carousel-item::before,
    .carousel-item::after {
      height: 40%;
    }
    img {
      height: 100vh;
      top: 0%;
    }
    img.secondary {
      height: 100vh;
      top: -15%;
    }

    .caption-box {
      width: 30vw;
      h1 {
        font-size: 2.5rem;
      }
    }

    .carousel-caption.secondary {
      .caption-box {
        padding: 1rem 1.5rem;
        h1 {
          font-size: 1.6rem;
          margin-bottom: 0.6rem;
        }

        .hero-logged-welcome-text {
          font-size: 1.2rem;
        }

        .btn {
          margin-top: 0.8rem;
          padding: 0.2rem 0.8rem;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .home-logged .home-logged-featured-pets-cards {
    .card:nth-child(n + 3) {
      display: none;
    }
  }
  .hero-logged {
    .carousel-item::before,
    .carousel-item::after {
      height: 40%;
    }
    img {
      height: 100vh;
      top: 0%;
    }
    img.secondary {
      height: 100vh;
      top: -20%;
    }

    .caption-box {
      width: 30vw;
      h1 {
        font-size: 2.2rem;
      }
    }

    .carousel-caption.secondary {
      .caption-box {
        width: 27vw;
        padding: 1rem 1.5rem;
        h1 {
          font-size: 1.6rem;
          margin-bottom: 0.6rem;
        }

        .hero-logged-welcome-text {
          font-size: 1.2rem;
        }

        .btn {
          margin-top: 0.8rem;
          padding: 0.2rem 0.8rem;
        }
      }
    }
  }
}

@media (max-width: 460px) {
  .home-logged .home-logged-featured-pets-cards {
    .card {
      width: 200px;
    }
    .card:nth-child(n + 2) {
      display: none;
    }
  }
  .hero {
    flex-direction: column;
    align-items: center;
    .hero-img {
      width: 70vw;
      margin: 1rem 0 2rem;
    }
    .hero-content {
      width: 90%;
      text-align: center;
      .hero-title {
        font-size: 2rem;
        margin-bottom: 1rem;
      }
      .hero-text {
        font-size: 1.1rem;
        margin-bottom: 1rem;
      }
      button {
        font-size: 1rem;
      }
    }
  }
  .hero-logged {
    img {
      height: 100vh;
      top: -20%;
    }
    img.secondary {
      height: 100vh;
      top: -40%;
    }

    .carousel-caption {
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 2rem;

      .caption-box {
        width: 100%;
        h1 {
          // color: #fff;
          font-size: 1.8rem;
        }
      }
    }

    .carousel-caption.secondary {
      flex-direction: column;
      justify-content: flex-end;
      .caption-box {
        width: 100%;
        padding: 1rem 1.5rem;
        h1 {
          font-size: 1.6rem;
          margin-bottom: 0.6rem;
        }

        .hero-logged-welcome-text {
          font-size: 1.2rem;
        }

        .btn {
          margin-top: 0.8rem;
          padding: 0.2rem 0.8rem;
        }
      }
    }
  }
}
