@import 'variables';

.mypets {
  &-title {
    width: 12rem;
    text-align: center;
    margin: 3rem 0;
    font-size: 2.4rem;
    font-weight: 600;
    border-bottom: 10px solid $primary-color;
    transform: rotate(-4deg);
  }

  .row {
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;

    .nav-item {
      font-size: 1.4rem;
      color: #fff;

      .nav-link {
        color: $dark-color;
        border-radius: 0;
        background-color: transparent;
        transition: background-color 0s;
        margin-bottom: 2rem;
        font-weight: 500;
      }

      .active,
      .active:active,
      .active:focus-visible,
      .active:visited {
        background-color: $primary-color;
        color: #fff;
        border-radius: 0;
        transform: skew(20deg);
        width: fit-content;
        min-width: 10rem;

        span {
          font-weight: 600;
          display: inline-block;
          transform: skew(-20deg);
        }
      }
    }
  }

  .home-logged-featured-pets-cards {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
    gap: 1.2rem;
    margin: 1.2rem 0 1.2rem 2rem;

    .card {
      width: 29%;
      margin-bottom: 1rem;
    }

    h4 {
      white-space: pre-wrap;

      a {
        text-decoration: none;
        color: $primary-color;
        transition: transform 0.2s ease-in-out;

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}

@media (max-width: 1150px) {
  .mypets .home-logged-featured-pets-cards .card {
    width: 40%;
  }
}

@media (max-width: 900px) {
  .mypets .home-logged-featured-pets-cards .card {
    width: 45%;
  }
}
