@import 'variables';
// Navbar

.navbar {
  color: $dark-color;
  height: 80px;
  width: 80vw;
  margin: 1rem auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  // transform: skewY(1.5deg);
  z-index: 999;

  &-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    gap: 3rem;

    a {
      text-decoration: none;
    }

    &-logo {
      color: $dark-color;
      font-family: 'Unbounded', sans-serif;
      font-size: 2.4rem;
      display: flex;
      align-items: center;
      font-weight: 700;

      svg {
        margin-right: 1rem;
        color: $primary-color;
      }

      span {
        color: $primary-color;
      }
    }

    &-right {
      display: flex;
      gap: 3rem;

      a {
        font-weight: 500;
        color: $dark-color;
        text-decoration: none;
        transition: all 0.1s ease-in;

        &:hover {
          color: $primary-color !important;
          transform: scale(1.05);
        }
      }

      .dropdown {
        &-item:hover {
          background-color: transparent;
        }

        &-item.active {
          background-color: $primary-color;

          &:hover {
            color: #fff !important;
          }
        }
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: flex-end;
  max-height: 1rem;
  transform: skewY(-2deg);
  border-top: 0.29rem $primary-color solid;
  margin-top: 4rem;
  min-height: 2rem;
}

// a {
//   text-decoration: none;
//   color: $dark-color;
//   transform: skewY((1.5deg));
//   position: relative;
//   text-align: end;
//   transform: translateY(2rem);
// }

@media (max-width: 1000px) {
  .navbar {
    &-links {
      font-size: 1.1rem;
      &-logo {
        font-size: 1.8rem;
      }
    }
  }
}

@media (max-width: 900px) {
  .navbar {
    &-links {
      font-size: 1.1rem;
      gap: 2rem;
      &-logo {
        font-size: 1.4rem;
      }
      &-right {
        gap: 2rem;
      }
    }
  }
}
