@import 'variables';

.pet-form {
  color: $dark-color;
  &-container {
    width: 80%;
    form {
      width: 100%;
    }
    .form-group {
      margin-bottom: 2rem;

      input,
      textarea,
      select {
        background-color: $light-color;
        border: 0.1rem solid $dark-color;
      }

      input:focus,
      input:active,
      input:focus-visible,
      textarea:focus,
      textarea:active,
      textarea:focus-visible,
      select:focus,
      select:active,
      select:focus-visible {
        background-color: $light-color;
        border: 0.1rem solid rgba(249, 64, 79, 0.45);
        box-shadow: 0 0 0 0.2rem rgba(249, 64, 79, 0.45);
      }
      input:checked {
        background-color: $primary-color;
      }
      .pet-label {
        font-size: 1.2rem;
        font-weight: 500;
      }

      .pet-input {
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
      }

      .pet-check {
        font-size: 1.2rem;

        .pet-check-row {
          display: flex;
          justify-content: flex-start;
          // width: 100%;
        }
        .form-check {
          min-width: 20%;
          margin-right: 2rem;
          input {
            margin-right: 1rem;
          }
        }
      }
    }
    .submit-button {
      margin: 3rem 0 2rem;

      .login-submit-button {
        padding: 0.5rem 1rem;
        font-size: 1.4rem;
        width: 100%;

        &:active {
          background-color: $primary-color;
          transform: scale(0.95) skew(-20deg);
        }
      }
    }
  }
}
