@import 'variables';

.card {
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  background-color: #fff;
  min-width: 21%;
  margin: 0 0.4rem 0.5rem;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  z-index: 0;

  .corner {
    width: 0;
    height: 0;
    border-top: 80px solid #fff;
    border-bottom: 80px solid transparent;
    border-right: 80px solid transparent;
    position: absolute;
    left: -3%;
    top: -2%;
    z-index: 5;
  }

  .corner span {
    font-size: 0.9rem;
    font-weight: 600;
    color: $dark-color;
    position: absolute;
    top: -60px;
    width: 5rem;
    left: -10px;
    text-align: center;
    font-size: 16px;
    font-family: arial;
    transform: rotate(-45deg);
    display: block;
  }

  &:hover {
    transform: scale(1.05);
  }
  .liked {
    opacity: 0.8;
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
    top: 3%;
    right: 4%;
    background-color: #fff;
    border-radius: 50%;
    z-index: 5;
  }

  svg {
    height: 1.8rem;
    width: 1.8rem;
    position: absolute;
    top: 17%;
    right: 14%;
    color: $primary-color;
  }

  .spinner-border {
    color: $primary-color;
    position: absolute;
    top: 30%;
    left: 45%;
  }

  &-img-top {
    position: absolute;
    top: 0;
    width: 100%;
    height: 250px;
    min-height: 250px;
    background-color: #fff;
    object-fit: cover;
    z-index: 0;
  }

  &-content {
    position: absolute;
    min-height: 70px;
    bottom: 0px;
    height: 100px;
    width: 100%;
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 0.375rem;
    border-top-left-radius: 50% 20%;
    border-top-right-radius: 50% 20%;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &-title {
    font-size: 1.29rem;
    font-weight: 700;
    margin: 0;
    padding: 1rem 2rem 0.3rem;
    color: $primary-color;
    text-align: center;
  }

  &-body {
    font-size: 1rem;
    padding: 0 2rem 1rem;
    text-align: center;
  }
}

.hide {
  display: none;
}

// Petpage ////
/////
/// ////

.petpage {
  position: relative;
  padding: 2rem 0 1rem;

  &-back {
    position: absolute;
    color: $dark-color;
    height: 2.5rem;
    width: 2.5rem;
    top: 2%;
    left: 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: $primary-color;
      transform: scale(1.05);
    }

    &:active {
      color: $primary-color;
      transform: scale(0.9);
    }
  }

  &-main-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0.375rem;
    width: 90%;
  }

  .unavailable {
    width: 60%;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 200;
    margin: 1rem 0 0.2rem;
  }

  &-buttons {
    display: flex;
    justify-content: center;
    gap: 3rem;
  }

  &-button.btn {
    background-color: transparent;
    color: $dark-color;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.95);
      background-color: transparent;
      color: $dark-color;
    }

    svg {
      color: $primary-color;
      height: 2rem;
      width: 2rem;
      margin-right: 1rem;
      padding-bottom: 0.2rem;
    }
  }

  &-image-container {
    width: 100%;
    position: relative;
    min-height: 500px;
    border-radius: 50%;
    transform: rotate(-6deg);
    display: flex;
    justify-content: center;

    .spinner-border {
      color: $primary-color;
      position: absolute;
      height: 4rem;
      width: 4rem;
      border-width: 0.5rem;
      top: 45%;
      left: 50%;
    }
  }
  &-image {
    width: 90%;
    height: 500px;
    object-fit: cover;
    object-position: center center;
    border-radius: 50%;
    // transform: rotate(-6deg);
  }

  .liked {
    opacity: 0.9;
    background-color: #fff;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    position: absolute;
    top: 18%;
    right: 4%;
    z-index: 999;
    cursor: pointer;

    svg {
      opacity: 1;
      position: absolute;
      top: 17%;
      left: 12.9%;
      height: 3rem;
      width: 3rem;
      color: $primary-color;
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &-card {
    padding: 2rem;
    border-radius: 0.375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-bottom: 0.1rem solid $primary-color;

    &-title {
      position: relative;
      align-self: center;
      top: -4.5rem;
      background-color: $primary-color;
      font-weight: 700;
      font-size: 4rem;
      color: #fff;
      padding: 0.5rem 1.5rem;
      // transform: rotate(-6deg);
      transform: skew(-21deg) rotate(-3deg);

      span {
        display: inline-block;
        transform: skew(21deg) rotate(0deg);
      }
    }

    &-bio {
      align-self: center;
      text-align: left;
      font-size: 1.2rem;
      margin-top: 1.6rem;
      width: 80%;
    }

    &-details {
      margin-top: -2rem;
      display: flex;
      justify-content: space-around;
      gap: 3rem;
      width: 80%;

      ul {
        padding: 0;
        list-style-type: none;
        font-size: 1.2rem;

        li {
          margin-bottom: 0.4rem;

          span {
            font-weight: 700;

            svg {
              color: $primary-color;
              margin: 0 1rem 0.3rem 0;
            }
          }
        }
      }
    }
  }
}

.modal-content {
  min-height: 100px;
  height: 500px;

  .modal-body {
    h2 {
      margin-top: 1rem;
      font-size: 3rem;
      text-align: center;
    }
    p {
      white-space: pre-wrap;
      text-align: center;
      font-size: 1.4rem;
      font-weight: 400;
      margin: 1rem 0 1.2rem;
    }
  }
  .modal-footer {
    border-top: none;
    justify-content: center;

    button {
      width: 100%;
      transition: transform 0.2s ease-in-out;

      &:hover {
        background-color: $primary-color;
        transform: scale(1.05);
      }

      &:active {
        background-color: $primary-color;
        transform: scale(0.95);
      }
    }
  }
}

@media (max-width: 1100px) {
  .card {
    width: 28%;
  }
}

@media (max-width: 800px) {
  .card {
    width: 40%;
  }
}
