@import 'variables';

.search {
  max-width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // margin: 0 auto;

  input {
    width: 100%;
    margin: 0;
  }

  input:focus,
  input:active,
  input:focus-visible {
    border-color: #ced4da;
    box-shadow: 0 0 0 0.2rem rgba(249, 64, 79, 0.45);
  }

  .search-simple {
    text-align: center;

    &-title {
      font-size: 2rem;
      font-weight: 700;
    }

    &-buttons {
      margin: 2rem 0 1rem;
      display: flex;
      gap: 3rem;
      // transform: rotate(-3deg);

      button {
        font-size: 2rem;
        font-weight: 600;
        // height: 4rem;
        width: 10rem;
        padding: 1rem 3rem;
        transform: skew(21deg) rotate(-3deg);

        span {
          display: inline-block;
          transform: skew(-21deg) rotate(3deg);
        }
        &:hover {
          background-color: $primary-color;
          transform: skew(21deg) rotate(-3deg) scale(1.05);
        }

        &:active {
          transform: skew(21deg) rotate(-3deg) scale(0.96);
        }
      }
    }
  }

  &-results-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 2rem;
    padding-left: 1rem;
  }
}
