@import 'variables';

.search {
  max-width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input {
    width: 100%;
    margin: 0;
  }

  input:focus,
  input:active,
  input:focus-visible {
    border-color: #ced4da;
    box-shadow: 0 0 0 0.2rem rgba(249, 64, 79, 0.45);
  }

  .search-simple {
    text-align: center;
    margin: 3rem 0 2rem;

    &-title {
      font-size: 2rem;
      font-weight: 700;
    }

    &-buttons {
      margin: 2rem 0 1rem;
      display: flex;
      gap: 4rem;
      // transform: rotate(-3deg);

      button {
        font-size: 1.8rem;
        font-weight: 600;
        height: 5rem;
        min-width: 9rem;
        padding: 1rem 2.5rem;
        transform: skew(-21deg) rotate(-5deg);
        transition: all 0.2s ease-in;
        border: 4px dashed $primary-color;
        // text-align: center;
        span {
          display: inline-block;
          transform: skew(21deg) rotate(5deg);
        }
        &:hover {
          background-color: $primary-color;
          transform: skew(-21deg) rotate(-5deg) scale(1.1);
        }

        &:active {
          transform: skew(-21deg) rotate(-5deg) scale(1.1);
          border: 4px dashed $primary-color;
        }
      }
      .active-btn {
        background-color: #fff;
        color: $primary-color;
        // border: 4px dashed $primary-color;

        // transform: skew(21deg) rotate(-3deg) scale(1.29);

        &:hover {
          background-color: #fff;
          color: $primary-color;
        }
      }

      // &-more {
      //   display: flex;
      //   flex-direction: row;
      //   font-size: 1.2rem;

      //           div {
      //     width: 2rem;
      //   }
      // }
    }
  }

  &-toggle {
    height: 5rem;
    width: 5rem;
    fill: $primary-color;
    cursor: pointer;
    &.rotate {
      transform: rotate(180deg);
    }
  }

  .search-advanced {
    display: flex;
    gap: 3rem;
    margin: 3rem 0 2rem;

    form {
      display: flex;
      gap: 3rem;
    }

    &-group-label {
      font-weight: 600;
      font-size: 1.2rem;
      // color: $primary-color;
      // background-color: $primary-color;
      // color: #fff;
      // padding: 0.5rem 1rem;
      // transform: skew(21deg);
    }

    select:focus,
    select:active,
    select:focus-visible {
      border-color: #ced4da;
      box-shadow: 0 0 0 0.2rem rgba(249, 64, 79, 0.45);
    }
  }

  &-results-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 2rem;
    padding-left: 1rem;
  }
}
