@import 'variables';

.show-pets {
  &-list {
    margin-top: 1rem;
    width: 80%;
    border-collapse: separate;
    border-spacing: 0 1.4rem;
    // border-color: $dark-color;

    &-line {
      // display: flex;
      // gap: 3rem;
      // padding: 2rem 2rem;
      border-bottom: 0.1rem solid $dark-color !important;
      // background-color: $dark-color;
      transition: transform 0.25s ease-in-out;

      &-heading {
        background-color: $primary-color;
        color: #fff;
      }

      // &:nth-child(even) {
      //   // background-color: $light-color;
      // }

      &:hover {
        transform: scale(1.05);
      }
      td {
        list-style-type: none;
        font-weight: 300;
        position: relative;

        svg {
          width: 1.5rem;
          height: 1.5rem;
          position: absolute;
          top: 0.3rem;
          left: 1rem;
          cursor: pointer;
          transition: all 0.2s ease-in-out;

          &:hover {
            // transform: scale(1.05);
            color: $primary-color;
          }
        }
        // min-width: 4rem;
      }
    }
  }
}
